html{
    background-color: rgb(255, 255, 255);
}
.maindiv {
    width: 100%;
    
}
.title-1 {
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border-color: rgb(22, 12, 40);
    border-style: solid;
    border-width: 1px;
    font-family: "Baskerville Old Face"; 
    font-size: 50px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 24.2px;
    padding: 0% 4%;
    
    text-align: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    
}

.text-div {
    width: auto;
    margin: 0% 5%;
    
}
.content{
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    position: absolute;
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 2%;
    width: 60%;
    left: 50%;
    color: rgb(0, 0, 0);
    transform: translate(-50%, 0%);
}

.content-text {
    margin-left: 10%;
    margin-right: 10%;
}


.text-side {
    width: 12.5%;
    
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    border-color: rgb(22, 12, 40);
    border-style: solid;
    border-width: 1px;
    
}
.text-paragraph {
    text-align: justify;
    font-family: 'Lora', sans-serif;
    font-size: 15px;
    width: auto;
    margin: 2% 7% 5% 7%;
    
    
}
.text-topic {
    text-align: justify;
    font-family: 'Lora', sans-serif;
    font-size: 17px;
    width: auto;
    
    
}
.text-a{
    padding: 2px;
    font-size: 14px;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 3%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(47, 59, 224, 0.329);
    border-radius: 2px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(129, 129, 129);
    
    
}
.text-a:hover:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 20%;
    margin-right: 20%;
    border-style: inset;
    border-width: 2px;
    border-color: black;
  } 
  p{
    margin-bottom: 2em;
  }
  li{
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
  }
  .devmes{
    font-size: 10px; color: rgb(127, 127, 127);
    bottom:0;
    margin-left: 15%;
  }